*{padding:0; margin:0;}
a{text-decoration: none; color:inherit;}
ul{list-style: none;}
html{
    font-family: pretendard;
}

header{
    height: 90px;
    border-bottom: 3px solid #001e50;
    background-color: #fff;
    position: relative;
}

h1{
    margin-top: 10px;
    text-align: center;
    position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.allbtn{
height: 100%;
width: 100px;
margin-left: 30px;
padding-top: 20px;
}

.allbtn span{
    display: block;
    width:50px;
    height: 7px;
    background-color: #001e50;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}

.gnb{
    text-align: right;
    padding-top: 30px;
    margin-right: 30px;
    position: absolute;
    top:0;
    right: 0;
}
.gnb i{
    margin-left: 13px;
    margin-right: 13px;
    font-size: 28px;
    color:#001e50;
}

.gnb i:hover{
    transition: all 1s;
    transform: scale(1.2);
}

.bn{
    margin-top: 20px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bn video{
    display: block;
    width: 100%;
    min-width: 1200px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s1 .con1 a{
    display: block;
    height: 300px;
    overflow: hidden;
}

.s1 .con1 img{
    width:100%;
}

.s1 .con1{
    width: 1080px;
}

.s1{
    margin-top: 100px;
    width: 1080px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}



.s1 button{
    border: 0;
    background-color: transparent;
}

.s1 .con2{
    display: flex;
    position: absolute;  
   bottom:-70px;
    right: 0;
}

.s1 .txt{
    color:#333;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    font-family: pretendard; 
    box-shadow: 4px 4px 10px rgba(0, 0,0,0.4);
}

.s1 .txt:hover{
    background-color: #001e50;
    color:#fff;
}

.subbn{
    margin-top: 200px;
    background-image:linear-gradient(90deg,#001e50,#001e50,transparent);
    height: 200px;
    text-align: center;
    position: relative;
}

.subbn h2{
    color:#fff;
    align-items: center;
    font-size: 48px;
    line-height: 200px;

}

.subbn .txt,
.subbn .bartxt{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.subbn .bar a{
    opacity: 0;
    background-color: #fff;
    color: #222;
    
}

.subbn .btn:hover .bar a{
    opacity: 1;
    transition: all 1s;
    color:#222;
}



.subbn .btn a{
    padding:12px 30px;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    
}


.s2{
    margin-top: 100px;
    width: 1320px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.s2 h3{
    margin-bottom: 30px;
    font-size: 36px;
}

.s2 .txt1, .s2 .txt2{
    width: 660px;
    color:#222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2 .txt1 a:hover,
.s2 .txt2 a:hover,
.s2 .pic3 a:hover{
    text-decoration: underline;
}

.s2 .txt2{
    text-align: right;
}

.s2 .pic1, .s2 .txt1{
    margin-bottom: 100px;
}

.s2 .pic3{
    width: 1000px;
    height: 439px;
    background-size: cover;
    background-image: url(../images/s1-3.gif);
    color:#fff;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}



.pic3 div{
    margin-top: 330px;
    margin-right: 10px;
}

.s3{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    color:#222;
}

.s3 div{
    width: 570px;
}

.s3 .txt1,
.s3 .txt2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.s3 .txt1{
    text-align: right;
    align-items: baseline;
    padding-right: 20px;
}

.s3 .txt2{
box-sizing: border-box;
    text-align: left;
    padding-left: 80px;
}

.s3 .txt1, .s3 .pic1{
    margin-bottom: 100px;
}

.s3 h3{
    font-size: 80px;
}

.s3 h4{
    font-size: 20px;
}

.s3 p{
    margin-top: 50px;
}
.s3 .txt2 p{
    margin-left: 350px;
}

.s3 .txt2 p:hover{
    text-decoration: underline;
}

.s3 .txt1:hover,
.s3 .txt2:hover{
    color: #001e50;
}

footer{
    margin-top: 100px;
    border-top: 3px solid #001e50;
}

.fwrap{
    width:1200px;
    margin-right: auto;
    margin-left: auto;
}

.util{
    font-size: 14px;
    display: flex;
    color: #001e50;
    margin-top: 20px;
    font-weight: bold;
}


.util li:after{
    content: '|';
    padding-left: 10px;
   margin-right: 10px;
}

.util li:last-child:after{
    content: none;
}

.fmenu{
    color: #222;
    margin-top: 100px;
    display: flex;
}

.fmenu ul{
    white-space: nowrap;;
    width: 300px;
    font-weight: 900;
    margin-right: 200px;
}


.fmenu li{
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
}


.fwrap p{
    margin-top: 100px;
    color:#888;
    margin-bottom: 100px;
}

.funder{

    color:#888;
    border-top: 2px solid #888;
}

.funder span{
    font-size: 20px; 
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}

.funder p{
    margin-top: 20px;
    margin-left: 30px;
    line-height: 50px;
}


